.jumbotron {
  padding-top: 6rem;
  background-color: #aadbf7;
}
#projects {
  background-color: #aadbf7;
}
section {
  padding-top: 6rem;
}
#contact {
  background-color: #aadbf7;
}
#footer {
  background-color: #65abd3;
}
#media {
  background-color: #ffff;
}
